$backgroundColor: #0d0d18;  
$bodyColor: #000000;
$bodyFont: "Bebas Neue",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$logoFont: "Dela Gothic One",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$menuItemsFont: "Lato",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$socialColor: #7475b3;
$footerColor: #ede7dd;
$transitionSpeed: 0.25s;
$transitionMenuSpeed: 0.5s;

$playIcon: "M29.05 14.3113 11.04 3.2938a2 2 0 0 0-2.025-0.0375A1.9825 1.9825 0 0 0 8 4.9838v22.0325A1.9925 1.9925 0 0 0 10 29a2.0088 2.0088 0 0 0 1.045-0.2937L29.05 17.6888a1.9763 1.9763 0 0 0 0-3.3775zM10 26.9925V5l17.9788 11z";
$playFillIcon: "M30 16a1.9675 1.9675 0 0 1-0.95 1.6888L11.04 28.7063a2 2 0 0 1-2.025 0.0375A1.9825 1.9825 0 0 1 8 27.0163V4.9838a1.9825 1.9825 0 0 1 1.015-1.7276 2 2 0 0 1 2.025 0.0376l18.01 11.0175A1.9675 1.9675 0 0 1 30 16z";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  position: relative;
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  color: #FFFFFF;
}

.header-section {
  position: relative;
  height: 100vh;
  width: 100%;
  font-size: 0;
  background: transparent;
}

@media (max-width: 1024px) and (orientation: portrait) {

  .header-section {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .footer-section-wrapper {
    margin-bottom: 0px;
    background-color: #1d85d1;
  }
}

@media only screen and (max-width: 1023px) and (orientation: portrait) {
  .header-section {
    background: url(../img/hero/vampire-seranade/serana-portrait.jpg?s) center bottom no-repeat;
    background-size: cover;
  }
}

li {
  list-style: none;
}

a {
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
  transition: all $transitionSpeed ease-in-out;
  font-weight: 600;
}

//
// MENU
//

.menuWrap {
  position: absolute;
  top: 4vw;
  right: 4vw;
  z-index: 1;
}

.menuWrap .nav-icon {
  width: 4vw;
  position: absolute;
  top: 5px;
  right: 0;
  height: 2vw;
  cursor: pointer;
}

@media only screen and (max-width: 1023px) {
  .menuWrap .nav-icon {
    right: 4vw;
  }
}

span.site-menu {
  font-size: 3vw;
  line-height: 1;
  cursor: pointer;
}

// Menu Three Bars

.site-menu span {
  transition-duration: $transitionMenuSpeed;
  -webkit-transition-duration: $transitionMenuSpeed;
  position: absolute;
  height: 0.25vw;
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 0px 5px black;
}

@media only screen and (max-width: 1023px) {
  .site-menu span {
    height: 0.75vw;
    width: 7vw;
  }
}

.site-menu span:nth-child(1) {
  top: 0vw;
}

.site-menu span:nth-child(2) {
  top: 0.7vw;
}

@media only screen and (max-width: 1023px) {
  .site-menu span:nth-child(2) {
    top: 2.2vw;
  }
}

.site-menu span:nth-child(3) {
  top: 1.4vw;
}

@media only screen and (max-width: 1023px) {
  .site-menu span:nth-child(3) {
    top: 4.4vw;
  }
}

.nav-icon.menu-button.toggler-open .site-menu span:nth-child(1) {
  top: 1vw;
  -webkit-transform: rotateZ(45deg) translate(0.35vw, 0.78vw);
  transform: rotateZ(45deg) translate(0vw, -0.60vw);
  right: 0;
}

.nav-icon.menu-button.toggler-open .site-menu span:nth-child(2) {
  top: 0.8vw;
  -webkit-transform: rotateZ(-43deg) translate(0.07vw, -0.325vw);
  transform: rotateZ(-43deg) translate(0.07vw, 0vw);
  right: 1vw;
  opacity: 0;
}

.nav-icon.menu-button.toggler-open .site-menu span:nth-child(3) {
  top: 1vw;
  -webkit-transform: rotateZ(-43deg) translate(-0.9vw, -1.325vw);
  transform: rotateZ(-43deg) translate(0.6vw, -0.1vw);
  right: 0;
}

// End Menu Bars

@media only screen and (max-width: 1023px) {
  .nav-icon.menu-button.toggler-open {
    top: 2vw;
    right: 0vw;
  }
}

.menu-items {
  display: none;
  z-index: 3000;
}

.menu-items a {
  color: #ffffff;
  text-shadow: 0px 0px 20px #000000;
  -webkit-text-stroke: .08vw black;
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1vw;
  display: block;
  font-family: $menuItemsFont;
}

@media only screen and (max-width: 1023px) {
  .menu-items a {
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-size: 5vw;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5vw;
    display: block;
  }
}

@media (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
  .menu-items a {
    margin-bottom: 1vw;
    font-size: 3vw;
  }
}

.menuWrap .nav-icon:hover,.menu-items a:hover{
  opacity: 0.5;
  transition:opacity $transitionSpeed;
}

.nav-icon.menu-button.toggler-open ~ .menu-items {
  display: block;
  margin-top: 5vw;
  text-align: right;
}

@media only screen and (max-width: 1023px) {
  .nav-icon.menu-button.toggler-open ~ .menu-items {
    display: block;
    margin-top: 20vw;
    text-align: right;
  }
}

@media (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
  .nav-icon.menu-button.toggler-open ~ .menu-items {
    margin-top: 7vw;
  }
}

//
// LOGO
//

.logo {
  margin: 0 auto;
  width: 17vw;
  top: 5vw;
  left: 11vw;
  transform: translate(-50%, -50%);
  z-index: 9;
  position: absolute;
}

.logo img {
  max-width: 100%;
  width: 100%;
}

.logo a {
  font-family: $logoFont; 
  max-width: 100%;
  width: 100%;
  display: block;
  font-size: 3.07vw;
  text-shadow: 0px 0px 20px #000000;
}

 .logo.mobileLogo {
  display: none;
}

h2#site-name {
  margin: 0;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .logo.mobileLogo {
    display: block;
    position: absolute;
    z-index: 999;
    transform: none;
  }

  .logo {
    width: 43%;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 3vw;
  }

  .logo a {
    font-size: 5vw;
    text-shadow: 0px 0px 20px #fff;
    color: #000;
  }

  .logo.desktopLogo {
    display: none;
  }
}

//
// Call to action
//

.cta-wrapper {
  display: block;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.background_desktop {
  display: block;
  z-index: -1;
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .background_desktop {
    display: none;
  }
}

.background_desktop img {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  object-fit: cover;
  background: #101010;
}

.background_mobile {
    display: none;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .background_mobile {
    display: block;
    z-index: -1;
    position: absolute;
    width: 100%;
  }

  .background_mobile img {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    object-fit: cover;
    background: #000000;
  }
}

.content_left_wrapper {
  position: absolute;
  bottom: 2.0833vw;
  left: 2.0833vw;
  //width: 13.0208vw;
}

.content_left_wrapper .img_caption {
  font-size: 1vw;
}

.content_wrapper {
  position: absolute;
  bottom: 2.0833vw;
  right: 2.0833vw;
  //width: 13.0208vw;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .content_wrapper {
    width: 67.9487vw;
    bottom: 15.6923vw;
    right: 16.4615vw;
  }
  .content_left_wrapper .img_caption {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .content_wrapper, .content_left_wrapper {
    bottom: 3.6923vw;
  }
  .content_left_wrapper .img_caption {
    font-size: 2vw;
  }
}

.cta_wrapper_title {
  display: block;
  position: relative;
  font-family: $bodyFont;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  -webkit-text-stroke: .08vw black;
  text-shadow: 0px 0px 20px #000000;
  font-size: 3.07vw;
  text-align: left;
}

.cta_wrapper_title span {
  text-align: end;
  width: 100%;
  display: block;
}

.cta_wrapper_title span.ctatitle.line1 {
  font-style: italic;
  font-size: 3.07vw;
  padding-bottom: 0;
  line-height: 0.9;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .cta_wrapper_title {
    font-size: 8.2051vw;
    -webkit-text-stroke: none;
  }

  .cta_wrapper_title span {
    text-align: center;
  }

  .cta_wrapper_title span.ctatitle.line1 {
    font-style: italic;
    font-size: 9.74vw;
    padding-bottom: 0;
    line-height: 0.9;
  }
}

.cta_wrapper_listen_btn
{
  margin-top: 0.6250vw;
  width: 100%;
}

.listen-now {
  width: 100%;
  text-align: right;
  position: relative;
  display: block;
  min-height: 2.6042vw;
}

.cta_wrapper_listen_btn .listen-now a {
  width: auto;
  display: inline;
  background: #fff;
  color: #000000;
  border: solid 5px #000;
  text-align: center;
  line-height: 1;
  height: auto;
  font-size: 2.05vw;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  right: 0vw;
  padding: 0.6vw 2vw 0.3vw 2vw;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .cta_wrapper_listen_btn {
    margin-top: 3.625vw;
  }

  .listen-now {
    min-height: 15.3846vw;
  }

  .cta_wrapper_listen_btn .listen-now a {
    width: 57.0769vw;
    line-height: 1;
    position: relative;
    margin: 0 auto;
    font-size: 8vw;
    right: auto;
    display: block;
    padding: 3.6vw 2vw 3.3vw 2vw;
  }
}

//
// SECTIONS
//

.music-section-wrapper {
    padding-bottom: 8vh;
}

@media only screen and (max-width: 1023px), only screen and (max-width: 1024px) and (orientation: portrait) {
  .music-section-wrapper {
    margin-top: 0vw;
  }
}

.music-section-wrapper, .videos-section-wrapper, .about-section-wrapper {
    background: $backgroundColor;
}

.music-section, .about-section {
  opacity: 1;
}

.music-section, .about-section {
  position: relative;
  padding-top: 5vh;
  margin-left: 3vw;
}

@media only screen and (min-width: 768px) {
  .music-section, .about-section {
    margin-left: 1.8vw;
  }
}

@media only screen and (max-width: 1023px) {
  .about-body {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
  }
}

.about-body {
  font-family: "Lora", serif;
  font-size: 3.07vw;
  padding-right: 1.8vw;
  padding-bottom: 1.8vw;
}

.title {
  font-size: 4.16vw;
  line-height: 1;
  padding-bottom: 3vh;
  color: #ffffff;
  margin-left: 0;
  text-transform: uppercase;
  font-family: $bodyFont;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

@media (max-width: 1024px) {
  .title {
    font-size: 12vw;
  }
  .music-section .title {
    position: static;
    transform: unset;
    text-align: left;
  }
}

//
// CAROUSEL
//

.swiper-music {
  width: 100%;
  height: 100%;
}

.swiper-music .swiper-slide {
  text-align: center;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-music .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-music .swiper-slide {
  width: 60%;
}

@media only screen and (min-width: 768px) {
  .swiper-music .swiper-slide {
    width: 25%;
  }
}

@media (max-width: 767px) {
  .swiper-music .swiper-slide {
    font-size: 4vw;
  }
}

.swiper-button-next, .swiper-button-prev {
  color: #ffffff;
  width: 20px;
  height: 20px;
}


.art {
  overflow: hidden;
}

.art img {
  //-moz-transition: 0.5s all ease-in-out;
  //-webkit-transition: 0.5s all ease-in-out;
  //transition: 0.5s all ease-in-out;
}

.music-carousel .get-it-now {
  width: 100%;
  height: auto;
  text-align: center;
  padding-bottom: 0;
  margin: 0 auto;
}

.music-carousel .get-it-now a {
  display: block;
  text-decoration: none;
  font-size: 2.2vw;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
  width: 38%;
  margin: 0 auto;
  height: auto;
  text-align: center;
  font-family: $bodyFont;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  color: #ffffff;
  margin-top: 1.9vh;

  //background: #fff;
  //color: #000000;
  text-align: center;
  line-height: 1;
  font-size: 2.05vw;
  font-weight: 400;
  font-style: normal;
  padding: .8vw 2vw .5vw 2vw;
  border: .2vw white solid;
}

.music-carousel .get-it-now a span {
  display: inline-block;
  vertical-align: middle;
  width: 1.2vw;
  margin-left: 0.5vw;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .music-carousel .get-it-now {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .music-carousel .get-it-now a {
    line-height: 1;
  }
}

@media (max-width: 767px) {
  .music-carousel .get-it-now a {
    font-size: 6.51vw;
    line-height: 1;
    letter-spacing: 0;
    line-height: 1;
    margin-top: 13px;
    width: 55%;
    padding: .8vw 2vw 0vw 2vw;
  }
}

//
// VIDEOS
//

@media (max-width: 1024px) and (orientation: portrait) {
  .video-section {
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .video-section2 {
    //margin-top: 50px;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.overlay-img, .video-container iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div#overlay-img-1 img, div#overlay-img-2 img {
    width: 100%;
    height: auto;
}

.video-titles {
    position: absolute;
    bottom: 5vh;
    left: 5vh;
    cursor: pointer;
    font-size: 8vw;
    width: 100%;
    text-align: left;
    color: #ffffff;
    text-transform: capitalize;
    font-family: $bodyFont;
    font-weight: 400;
    font-style: normal;
}

.video-titles:hover {
  color: #fff;
}

.video-titles svg {
  width: 6vw;
  height: 6vw;
  padding-right: 1vw;
}

.video-titles:hover svg path {
  d: path($playFillIcon);
}

.video-titles:hover {
  color: #fff;
  background-size: contain;
  background-position: left center;
}

@media only screen and (min-width: 1024px) {
  .video-titles:hover {
    color: #fff;
    background-size: auto;
    background-position: left center;
  }
}

@media only screen and (min-width: 1024px) {
  .video-titles {
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
  }
}

@media only screen and (min-width: 768px) {
  .swiper-video .swiper-slide {
    width: 50%;
  }

  .video-titles {
    font-size: 4vw;
  }

  .video-titles svg {
    width: 3vw;
    height: 3vw;
  }

}

//
// FOOTER
//

.video-section, .about-section, .footer-section-wrapper {
  opacity: 1;
}


.footer-section-wrapper {
  margin-top: 5vw;
  background-color: $footerColor;
}

.footer-section {
  align-items: center;
  margin: 0 1%;
}

.footer-section {
  font-size: 1.17vw;
  line-height: 1.17;
  text-transform: capitalize;
  padding: 1.8vw 0;
  display: block;
  text-align: center;
}

.socials-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 2.55vw;
}

.footer-section .socials-section ul {
  margin-left: 0;
}

.socials-section li {
  display: inline-block;
  vertical-align: middle;
}

.socials-section a {
  text-decoration: none;
  color: $socialColor;
  margin-right: 5vw;
  font-size: 4vw;
}

.socials-section a:hover, .footer-section a:hover {
  opacity: 0.4;
  transition: all $transitionSpeed;
}

@media only screen and (max-width: 1023px) {
  .socials-section a {
    margin-right: 6vw;
    font-size: 5vw;
  }
}

.socials-section li:last-child a {
  margin-right: 0;
}

.copyrightWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 4vh;
}

span.copyright {
  margin-right: 0;
}

span.copyright, span.footer-links a, span.copyright, span.footer-links a {
  text-transform: capitalize;
  color: $socialColor;
  font-family: $menuItemsFont;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
}

@media only screen and (max-width: 1023px) {
  .copyrightWrapper {
    display: block;
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
  }

  span.copyright, span.footer-links a, span.copyright, span.footer-links a {
    font-size: 3vw;
    display: inline-block;
    margin-top: 3vw;
  }

  span.copyright {
    display: block;
  }
}
