@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram1:before {
  content: "\e900";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-soundcloud:before {
  content: "\eac3";
}

@font-face {
  font-family: 'icomoontiktok';
  src:  url('../fonts/icomoontiktok.eot');
  src:  url('../fonts/icomoontiktok.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoontiktok.ttf') format('truetype'),
    url('../fonts/icomoontiktok.woff') format('woff'),
    url('../fonts/icomoontiktok.svg#icomoontiktok') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icontiktok-"], [class*=" icontiktok-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoontiktok' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontiktok-tiktok:before {
  content: "\e900";
}
@font-face {
  font-family: 'twt-x';
  src:  url('../fonts/twt-x.eot');
  src:  url('../fonts/twt-x.eot#iefix') format('embedded-opentype'),
    url('../fonts/twt-x.ttf') format('truetype'),
    url('../fonts/twt-x.woff') format('woff'),
    url('../fonts/twt-x.svg#twt-x') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="twt-"], [class*=" twt-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'twt-x' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.twt-x:before {
  content: "\e901";
}
