<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/icomoon-style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header-section">
        <div class="menuWrap">
          <div class="menu">
            <div class="menu-inner-wrap">
              <div class="menu-inner-container">
                <div class="menu-inner-content">
                  <div class="nav-icon menu-button">
                    <span class="site-menu">
                      <span></span>
                      <span></span>
                      <span></span>
                    </span>
                  </div>
                  <div class="menu-items">
                    <ul>
                      <li><a href="#music">MUSIC</a></li>
                      <li><a href="#video">VIDEO</a></li>
                      <li><a href="#about">ABOUT</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div class="logo desktopLogo">
          <h1 id="site-name" class="site-name site-name-front">
            <a href="https://jezuro.com">JEZURO</a>
          </h1>
        </div>
        <div class="cta-wrapper">
          <div class="background_desktop">
            <img src="./assets/img/10-4-24_cloti-zineprint-wide.jpg" alt="Cloud and Tifa Single background image">
          </div>
          <div class="background_mobile">
            <img src="./assets/img/10-4-24_cloti-zineprint-mobile-crop.jpg" alt="Cloud and Tifa Single background image">
          </div>
          <div class="content_left_wrapper">
            <div class="img_caption">"Stargazing" by Reishichi</div>
          </div>
          <div class="content_wrapper">
            <div class="cta_wrapper_title">  
              <span class="ctatitle line1">Cloud and Tifa</span>
              <!-- <span class="ctatitle line3">Available Now</span>-->
            </div>
            <div class="cta_wrapper_listen_btn">
              <div class="listen-now">
                <a custom-link-name="Cloud and Tifa Single Listen Now Button (header)" href="https://distrokid.com/hyperfollow/jezuro/cloud-and-tifa" target="_blank">LISTEN NOW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="music-section-wrapper" id="music">
        <div class="music-section">
          <div class="title">
            RELEASES
          </div>
          <div class="music-carousel">
            <div class="owl-carousel owl-theme owl-loaded owl-drag">
              <div class="owl-stage-outer owl-height" style="height: 518.539px;">
                <div class="owl-stage" style="transform: translate3d(-4427px, 0px, 0px); transition: all; width: 17711px;">
                  <div class="owl-item" style="width: 466.971px; margin-right: 25px;">
                    <div class="item">
                      <div class="art">
                        <img src="./assets/img/upscaled_1500.jpg" alt="album art ">
                      </div>
                      <div class="song-title">Bad Mosquitoes</div>
                      <div class="get-it-now">
                        <a href="https://distrokid.com/hyperfollow/jezero1/bad-mosquitoes" target="_blank">listen now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
              <div class="owl-dots disabled"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-section-wrapper">
        <div class="footer-section">
          <div class="socials-section">
            <ul>
              <li><a href="https://open.spotify.com/artist/3K4XhzMLjAekqHMoWt5va2?si=UCJ8uLFQRFqIYReiKJ_17g" target="_blank" class="icon-spotify" data-track="spotify-ftr" aria-label="icon-spotify"></a></li>
              <li><a href="https://music.apple.com/us/artist/jezuro/1857878337" target="_blank" class="icon-appleinc" data-track="apple-music-ftr" aria-label="icon-appleinc"></a></li>
              <li><a href="https://youtube.com/@jezuromusic" target="_blank" class="icon-youtube" data-track="youtube-ftr" aria-label="icon-youtube"></a></li>
              <li><a href="https://instagram.com/jezuromusic" target="_blank" class="icon-instagram" data-track="instagram-ftr" aria-label="icon-instagram"></a></li>
              <li><a href="https://faceboook.com/jezuromusic" target="_blank" class="icon-facebook" data-track="facebook-ftr" aria-label="icon-facebook"></a></li>
              <li><a href="https://x.com/jezuromusic" target="_blank" class="twt-x" data-track="twitter-ftr" aria-label="icon-twitter"></a></li>
              <li><a href="https://tiktok.com/@jezuromusic" target="_blank" class="icontiktok-tiktok" data-track="tiktok-ftr" aria-label="icon-tiktok"></a></li>
              <!--<li><a href="" target="_blank" class="icon-soundcloud" data-track="soundcloud-ftr" aria-label="soundcloud"></a></li> -->
            </ul>
          </div>
          <div class="copyrightWrapper">
            <span class="copyright">
                ©&nbsp;<span id="year-desk">2026</span>&nbsp;Jezuro
            </span>
          </div>
        </div>
      </div>
    </div>
    <script src="https://libraries.wmgartistservices.com/externalJS/jquery-3-5-1-jquery-min.js"></script>
    <script src="https://libraries.wmgartistservices.com/externalJS/jquery-browser-0-1-0-jquery-browser-min.js" type="text/javascript"></script>
    <script src="./assets/js/owl.carousel.js" type="text/javascript"></script>
    <script src="./assets/js/script.js" type="text/javascript"></script>
  </body>
</html>
