<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <meta name="robots" content="noimageai">
    <meta name="robots" content="noai">
    <meta name="keywords" content="Jezuro" />
    <meta name="description"
        content='The official website of Jezuro. “Cloud and Tifa” out now. "Vampire Seranade" drops 3/6. Visit for music, videos, and more.' />

    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ "/assets/img/hero/vampire-seranade/serana-wide.jpg" | absolute_url }}" />
    <meta property="og:title" content="Jezuro Official Website" />
    <meta property="og:description"
        content='The official website of Jezuro. “Cloud and Tifa” out now. "Vampire Seranade" drops 3/6. Visit for music, videos, and more.' />
    <meta property="og:site_name" content="Jezuro" />

    <meta name="twitter:site" content="@jezuromusic">
    <meta name="twitter:url" content="{{ site.url }}">
    <meta name="twitter:description"
        content='The official website of Jezuro. “Cloud and Tifa” out now. "Vampire Seranade" drops 3/6. Visit for music, videos, and more.'>
    <meta name="twitter:title" content="Jezuro Official Website">
    <meta name="twitter:image" content="{{ "/assets/img/hero/vampire-seranade/serana-wide.jpg" | absolute_url }}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ site.url }}" />


    <link rel="stylesheet" href="{{ "/assets/css/icomoon-style.css" | relative_url }}">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/favicons/apple-touch-icon.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/favicons/favicon-32x32.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/favicons/favicon-16x16.png" | relative_url }}">
    <link rel="manifest" href="{{ "/assets/img/favicons/site.webmanifest" | relative_url }}">

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "VideoObject",
        "name": "Cloud and Tifa",
        "description": "A song about everything they never said, but didn't have to.",
        "thumbnailUrl": "https://jezuro.com/assets/img/yt-covers/tifa-yt-cover.png",
        "uploadDate": "2026-01-12T12:00EST",
        "contentUrl": "https://www.youtube.com/watch?v=iUGhCsXL5fs"
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "VideoObject",
        "name": "Cloud and Tifa (Lyric Video)",
        "description": "A song about everything they never said, but didn't have to.",
        "thumbnailUrl": "https://jezuro.com/assets/img/yt-covers/tifa-lyric-yt-cover.png",
        "uploadDate": "2026-01-19T12:00EST",
        "contentUrl": "https://www.youtube.com/watch?v=Azs0CTwvtfs"
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "VideoObject",
        "name": "Bad Mosquitoes",
        "description": "",
        "thumbnailUrl": "https://jezuro.com/assets/img/yt-covers/mosquito-yt-cover.png",
        "uploadDate": "2025-11-21T12:00EST",
        "contentUrl": "https://www.youtube.com/watch?v=ZUvzxExwSkc"
      }
    </script>
  </head>
  <body>
    <div class="container">
      <div class="logo mobileLogo">
        <h2 id="site-name" class="site-name site-name-front">
          <a href="{{ site.url }}">JEZURO</a>
        </h2>
      </div>
      <div class="header-section">
        <div class="menuWrap">
          <div class="menu">
            <div class="menu-inner-wrap">
              <div class="menu-inner-container">
                <div class="menu-inner-content">
                  <div class="nav-icon menu-button">
                    <span class="site-menu">
                      <span></span>
                      <span></span>
                      <span></span>
                    </span>
                  </div>
                  <div class="menu-items">
                    <ul>
                      <li><a href="#music">MUSIC</a></li>
                      <li><a href="#video">VIDEOS</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div class="logo desktopLogo">
          <h1 id="site-name" class="site-name site-name-front">
            <a href="{{ site.url }}">JEZURO</a>
          </h1>
        </div>
        <div class="cta-wrapper">
          <div class="background_desktop">
            <img src="./assets/img/hero/vampire-seranade/serana-wide.jpg" alt="Vampire Seranade Single background image">
          </div>
          <div class="background_mobile">
            <img src="./assets/img/hero/vampire-seranade/serana-portrait.jpg" alt="Vampire Seranade Single background image">
          </div>
          <div class="content_left_wrapper">
            <div class="img_caption"></div>
          </div>
          <div class="content_wrapper">
            <div class="cta_wrapper_title">  
              <span class="ctatitle line1">Vampire Seranade</span>
              <span class="ctatitle line2">March 6</span>
            </div>
            <div class="cta_wrapper_listen_btn">
              <div class="listen-now">
                <a custom-link-name="Cloud and Tifa Single Listen Now Button (header)" href="https://distrokid.com/hyperfollow/jezuro/vampire-seranade" target="_blank">PRESAVE NOW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="music-section-wrapper" id="music">
        <div class="music-section">
          <div class="title">
            RELEASES
          </div>
          <div class="music-carousel">
            <!-- Slider main container -->
            <div class="swiper swiper-music">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                  <div class="item">
                    <div class="art">
                      <img src="./assets/img/releases/cloud-and-tifa.jpg" alt="album art ">
                    </div>
                    <div class="song-title">Cloud and Tifa</div>
                    <div class="get-it-now">
                      <a href="https://distrokid.com/hyperfollow/jezuro/cloud-and-tifa" target="_blank">listen now</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item">
                    <div class="art">
                      <img src="./assets/img/releases/bad-mosquitoes.jpg" alt="album art ">
                    </div>
                    <div class="song-title">Bad Mosquitoes</div>
                    <div class="get-it-now">
                      <a href="https://distrokid.com/hyperfollow/jezero1/bad-mosquitoes" target="_blank">listen now</a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- If we need navigation buttons -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="videos-section-wrapper" id="video">
        <div class="video-section video-section2">
          <!-- Slider main container -->
          <div class="swiper swiper-video">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <div class="item">
                    <div class="videowrap">
                      <div class="video-container" id="api-container-03">
                        <div class="videoPlayer" id="ytplayer2" data-video-id="iUGhCsXL5fs"></div>
                      </div>
                      <div class="overlay-img" id="overlay-img-2">
                        <img src="./assets/img/yt-covers/tifa-yt-cover.png" alt="video0">
                        <div class="video-titles">
                          <svg viewBox="0 0 32 32" fill="currentColor" width="32" height="32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path id="playIcon" d="M29.05 14.3113 11.04 3.2938a2 2 0 0 0-2.025-0.0375A1.9825 1.9825 0 0 0 8 4.9838v22.0325A1.9925 1.9925 0 0 0 10 29a2.0088 2.0088 0 0 0 1.045-0.2937L29.05 17.6888a1.9763 1.9763 0 0 0 0-3.3775zM10 26.9925V5l17.9788 11z" />
                          </svg>
                          Cloud and Tifa
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="item">
                    <div class="videowrap">
                      <div class="video-container" id="api-container-03">
                        <div class="videoPlayer" id="ytplayer2" data-video-id="Azs0CTwvtfs"></div>
                      </div>
                      <div class="overlay-img" id="overlay-img-2">
                        <img src="./assets/img/yt-covers/tifa-lyric-yt-cover.jpg" alt="video0">
                        <div class="video-titles">
                          <svg viewBox="0 0 32 32" fill="currentColor" width="32" height="32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path id="playIcon" d="M29.05 14.3113 11.04 3.2938a2 2 0 0 0-2.025-0.0375A1.9825 1.9825 0 0 0 8 4.9838v22.0325A1.9925 1.9925 0 0 0 10 29a2.0088 2.0088 0 0 0 1.045-0.2937L29.05 17.6888a1.9763 1.9763 0 0 0 0-3.3775zM10 26.9925V5l17.9788 11z" />
                          </svg>
                          Cloud and Tifa (Lyric Video)
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="item">
                    <div class="videowrap">
                      <div class="video-container" id="api-container-03">
                        <div class="videoPlayer" id="ytplayer2" data-video-id="ZUvzxExwSkc"></div>
                      </div>
                      <div class="overlay-img" id="overlay-img-2">
                        <img src="./assets/img/yt-covers/mosquito-yt-cover.jpg" alt="video0">
                        <div class="video-titles">
                          <svg viewBox="0 0 32 32" fill="currentColor" width="32" height="32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path id="playIcon" d="M29.05 14.3113 11.04 3.2938a2 2 0 0 0-2.025-0.0375A1.9825 1.9825 0 0 0 8 4.9838v22.0325A1.9925 1.9925 0 0 0 10 29a2.0088 2.0088 0 0 0 1.045-0.2937L29.05 17.6888a1.9763 1.9763 0 0 0 0-3.3775zM10 26.9925V5l17.9788 11z" />
                          </svg>
                          Bad Mosquitoes
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>



      <div class="footer-section-wrapper">
        <div class="footer-section">
          <div class="socials-section">
            <ul>
              <li><a href="https://open.spotify.com/artist/3K4XhzMLjAekqHMoWt5va2?si=UCJ8uLFQRFqIYReiKJ_17g" target="_blank" class="icon-spotify" data-track="spotify-ftr" aria-label="icon-spotify"></a></li>
              <li><a href="https://music.apple.com/us/artist/jezuro/1857878337" target="_blank" class="icon-appleinc" data-track="apple-music-ftr" aria-label="icon-appleinc"></a></li>
              <li><a href="https://youtube.com/@jezuromusic" target="_blank" class="icon-youtube" data-track="youtube-ftr" aria-label="icon-youtube"></a></li>
              <li><a href="https://instagram.com/jezuromusic" target="_blank" class="icon-instagram" data-track="instagram-ftr" aria-label="icon-instagram"></a></li>
              <li><a href="https://facebook.com/jezuromusic" target="_blank" class="icon-facebook" data-track="facebook-ftr" aria-label="icon-facebook"></a></li>
              <li><a href="https://x.com/jezuromusic" target="_blank" class="twt-x" data-track="twitter-ftr" aria-label="icon-twitter"></a></li>
              <li><a href="https://tiktok.com/@jezuromusic" target="_blank" class="icontiktok-tiktok" data-track="tiktok-ftr" aria-label="icon-tiktok"></a></li>
              <!--<li><a href="" target="_blank" class="icon-soundcloud" data-track="soundcloud-ftr" aria-label="soundcloud"></a></li> -->
            </ul>
          </div>
          <div class="copyrightWrapper">
            <span class="copyright">
                ©&nbsp;<span id="year-desk">2026</span>&nbsp;JEZURO
            </span>
          </div>
        </div>
      </div>
    </div>
    <script src="https://libraries.wmgartistservices.com/externalJS/jquery-3-5-1-jquery-min.js"></script>
    <script src="https://libraries.wmgartistservices.com/externalJS/jquery-browser-0-1-0-jquery-browser-min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script src="./assets/js/script.js" type="text/javascript"></script>
    <script src="./assets/js/ytloader.js" type="text/javascript"></script>
  </body>
</html>
